  <div id="bg">
    <%= image_tag "book2.gif" %>
  </div>
  <div style="position:relative;top:350px;" class="col-md-12 col lg-12">
  <%= image_tag "small_logo.png", style:"display:inherit;margin:0 auto;" %>
    <h1 style="margin-top:5px;" class="homepage_heading_h1">Read to Others. Let Others Read to You.</h1>
    <div class="sign_up_buttons">
      <%= link_to "Sign Up", new_user_registration_path, class:"sign_up_in_link"%>
    </div>
     <div class="sign_up_buttons">
      <%= link_to "Sign In", new_user_session_path, class:"sign_up_in_link"%>
    </div>
  </div>

