<div id="bg">
  <%= image_tag "book2.gif" %>
</div>
  <h1 class="audicle_heading">AUDICLE</h1>
  <div style="position:relative;top:350px;" class="col-md-12 col lg-12">
    <h1 style="font-weight:300" class="homepage_heading_h1">Listen to Audio Articles</h1>
    <div style="text-align:center; margin:30px 0 0 100px;">
      <%= link_to "Sign Up or Sign In", new_user_registration_path, style:"margin:0 auto;font-family:'Raleway'", class:"push_button blue" %></h3>
<!--     <h3>Or</h3><br>
    <h1><#%= link_to "Sign In", new_user_session_path %></h1> -->
    </div>
  </div>

