  <div class="votes">
    <h3><%= link_to like_recording_path(@recording.id), method: :put do %>
      <i class="fa fa-sort-up vote_up"></i>
    <% end %>
    </h3>
    <h2><%= link_to dislike_recording_path(@recording.id), method: :put do %>
        <i class="fa fa-sort-down vote_down"></i>
      <% end %>
    </h2>
  </div>


