<ul>
    <li><%= link_to "#{@recording_article.title}","#{@recording_article.url}", style:"color:#000;" %></li>
    <li><%= @recording_article.author %></li>
    <li><%= @recording_article.provider.name %></li>
</ul>
