<div style="top:40px;float:right" class="row-fluid col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <div id="columns">
    <% @topics.each do |topic| %>
      <div class="pin">

      </div>
    <% end %>
  </div>
</div>
