<div style="top:150px;left:33%;display:inline-block" class="row-fluid col-xs-12 col-sm-8 col-md-10 col-lg-10">
 <div id="columns">
    <% @topics.each do |topic| %>
      <div style="margin-bottom:20px; margin-right:10px; max-height:300px;" class="pin topic_pin">
        <ul class="topic_list">
          <li class="show_topic_headline"><%= link_to "#{topic.name}", topic_path(topic.id) %></li>
          <h1 style="margin:0px auto;text-align:center;position:relative;bottom:25px;" class="round-button">+</h1>
          <hr>
          <p class="topic_count_and_followers"><%= link_to "#{topic.recordings.count} Audicles", topic_path(topic.id) %></p>
          <p class="topic_count_and_followers">1118 Listeners</p>
          <!-- <li><#%= image_tag"#{topic.image_url}", height:"70", width:"100" %></li> -->
        </ul>
      </div>
    <% end %>
  </div>
</div>

