div.provider_pin:hover{
  background: #fafafa;
}

div.provider_show_pin{
  border:none;
  max-height: 310px;
  margin-bottom: 0px;
}
h1.show_provider_headline{
  font-size: 3.3em;
  font-family: 'Lato';
  color: #333332;
  font-weight: 400;
  margin-bottom: 5px
}
.count_and_followers{
  font-family: 'Lato';
  font-size: 1.3em;
  color: #333332;
  font-weight: 300;
}
